@page
@using F1Countdown.Pages
@using System.Threading;
@model IndexModel
@{
    // Setting Page Title
    ViewData["Title"] = "F1 2022 Countdown";   
}

<!-- Setting Page Icon, Either Static Or Animated Gif />-->
<link rel="shortcut icon" type="image/x-icon" href="~/logo.ico" />

<!-- Main Body Text />-->
<p class="f1" id="paraText"><wide>FORMULA 1 </wide><wideWhite>Round @Model.iCurrentRound</wideWhite>  <br /><br /> <whiteDelay>@Model.sCurrentRaceName</whiteDelay></p>
<p id="countdowntext" class ="f1"> <whiteDelay> @Model.sCountdown  </whiteDelay></p>
<p class ="f1PurpleDelaySmall">  Lights Out @Model.sCurrentDate at @Model.sCurrentTime.TrimEnd('Z') </p>
<p class ="f1PurpleDelaySmall">  FP1 at @Model.sFP1Date - @Model.sFP1Time.TrimEnd('Z')</p>
<p class ="f1PurpleDelaySmall">  Qualifying at @Model.sQualiDate - @Model.sQualiTime.TrimEnd('Z') </p>
<p> <br /></p>

<img src="~/F1Tyres.png" class="image" />

<!-- Enabling Audio To Autoplay (Must be enabled in browser)/>-->
<audio autoplay id="bkgAudio" loop>
    <source src="~/audio.mp3" type="audio/mpeg">
</audio>

<!--Adjusting Volume On Start + Timer />-->
<script>
  var audio = document.getElementById("bkgAudio");
  audio.volume = 0.2;

  
var countDownDate = new Date("@Model.sMonth/@Model.sDay/@Model.sYear @Model.sHour:@Model.sMinute:00").getTime();
    setInterval(function() 
    {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);


        document.getElementById("countdowntext").innerHTML = days + " Days " + hours + " Hours " + minutes + " Minutes " + seconds + " Seconds";
    }, 1000);
</script>




